.aspect-ratio {
  height: 0;
  position: relative;
}

.aspect-ratio--16x9 {
  padding-bottom: 56.25%;
}

.aspect-ratio--object {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header .header-link {
  opacity: 0;
}

.header:hover .header-link, .header-link:hover {
  opacity: 1;
}

.code {
  line-height: 1.25;
  white-space: pre-wrap;
  margin: 0;
}
